<div class="menu" id="menu">
    <div class="menu__wrap d-flex align-items-center">
        <ul class="menu__list d-flex flex-wrap align-items-around fullHeight m-0">
            {{ range .Site.Menus.nav }}
            <li class="menu__item text-center py-5 d-flex justify-content-center align-items-center">
                <a class="menu__link menu_hoverLink" href="{{ .URL }}">{{ .Name | safeHTML }}</a>
            </li>
            {{ end }}
        </ul>
        <ul class="menu__back m-0">
            <li class="menu__back_line"></li>
            <li class="menu__back_line"></li>
        </ul>
    </div>
    {{ partial "socials.html" . }}
</div>