 {{ define "main" }}
<div class="main__wrap d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-4 d-flex flex-column justify-content-center">
                <div class="caption">
                    <h1 class="caption__text caption__text_size_lg caption__text_style_lite caption__text_uppercase">Kaowebdev</h1>
                    <p class="caption__back caption__text_style_big caption__text_size_bg caption__text_color_grey">kao</p>
                </div>
                <div class="main__description_grad">
                    <div class="main__description mt-5">
                        <p class="main__text main__text_style_light main__text_size_md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dignissimos, beatae error dicta iste vitae autem eum, eos quisquam blanditiis, reiciendis ab nemo! Deleniti exercitationem vitae, explicabo ducimus cupiditate,
                            illo error nam soluta maiores consectetur esse aliquam eum delectus suscipit dolore necessitatibus cum. Iste corporis rem qui hic, architecto quaerat!</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="main__img-wrap">
                </div>
            </div>
        </div>
    </div>
    <div class="callMe d-flex flex-column align-items-center p-4">
        <a href="#" class="callMe__phone"><i class="fa fa-phone"></i></a>
        <a href="#" class="main__text main__text_style_small main__text_color_grey mt-4">Interested?</a>
    </div>
    <a href="/about" class="more py-4">
        <p class="main__text main__text_style_small main__text_color_blue">more</p>
    </a>
</div>
{{ end }}