.mainNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100vh;
    z-index: 120;
    &:hover .mainNav__back {
        transform: rotateX(0deg);
    }
    &:hover .burgerMenu__item_two,
    &:hover .burgerMenu__item_three {
        transform: translateX(-50px);
        opacity: 0;
    }
    &:hover .burgerMenu__item_one {
        transform: rotate(48deg);
    }
    &:hover .burgerMenu__item_for {
        transform: rotate(-48deg);
    }
    &:hover .mainNav__menuText {
        transform: scale(0);
        opacity: 0;
    }
    &:hover .mainNav__openText {
        transform: rotateX(0deg) translateX(-50%);
    }
    &_active {
        .mainNav__menuText,
        .mainNav__openText {
            transform: scale(0);
            opacity: 0;
        }
        .mainNav__closeText {
            transform: rotateX(0deg) translateX(-50%);
        }
    }
    &__back {
        @extend %fullAbsolute;
        background: $secondGrey;
        z-index: -1;
        transform: rotateX(90deg);
        transition: .6s ease-in;
    }
    &__wrap {
        @extend %nullLink;
    }
    &__text {
        color: $basicBlack;
        text-transform: uppercase;
        word-wrap: break-word;
        transition: .6s;
    }
    &__openText {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: rotateX(90deg) translateX(-50%);
    }
    &__closeText {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: rotateX(90deg) translateX(-50%);
    }
}

.burgerMenu {
    width: 35px;
    height: 35px;
    &__item {
        display: block;
        width: 35px;
        height: 1px;
        background-color: $basicBlue;
        margin: 8px 0;
        transition: .6s;
    }
    &_active {
        .burgerMenu__item_one {
            transform: rotate(48deg) translate(12px, 12px) !important;
        }
        .burgerMenu__item_for {
            transform: rotate(-48deg) translate(7px, -7px) !important;
        }
        .burgerMenu__item_two,
        .burgerMenu__item_three {
            transform: translateX(-50px) !important;
            opacity: 0;
        }
    }
}

.logo {
    display: block;
    width: 60px;
    height: 60px;
    &_absolute {
        @extend %absolutePos;
        &:hover {
            text-decoration: none;
        }
        &:hover .logo__text {
            color: $basicBlue;
        }
        &:hover .logo__item {
            background: $basicBlue;
        }
    }
    &_pos_top {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__text {
        font-weight: 300;
        font-size: (16rem / 16);
        letter-spacing: 3px;
        color: $basicBlue;
        transition: .6s;
    }
    &__item {
        width: 50px;
        height: 1px;
        background: $basicBlue;
        transition: .6s;
        &_one {
            transform: rotate(90deg) translate(30px, 20px);
        }
        &_two {
            width: 36px;
            transform: rotate(45deg) translate(37px, 21px);
        }
        &_three {
            transform: rotate(135deg) translate(16px, -13px);
        }
    }
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: $secondGrey;
    z-index: 100;
    padding: 30px 110px;
    transition: .8s ease-in-out;
    &_active {
        left: 0;
    }
    &__wrap {
        background: $basicWhite;
        width: 100%;
        height: 100%;
        transition: .6s;
        will-change: transform;
        transform: translateX(calc(-100% - 110px));
        &_active {
            animation-name: showElement;
            animation-duration: 1.3s;
            animation-delay: 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }
    &__list {
        @extend %basePos;
        list-style-type: none;
    }
    &__link {
        position: relative;
        color: $basicBlack;
        text-transform: uppercase;
        font-size: (32rem / 16);
        transition: .6s;
        &:hover {
            text-decoration: none;
            color: $basicBlue;
            transform: scale(1.1);
        }
        &:hover::after {
            transform: translate(-50%, -50%) rotateY(0deg);
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotateY(90deg);
            display: block;
            width: 100%;
            height: 1px;
            background: $basicBlue;
            transition: transform .6s;
        }
    }
    &__letter {
        font-size: (100rem / 16);
    }
    &__item {
        position: relative;
        display: block;
        width: 33.3%;
        min-height: 50%;
        &:hover::after {
            text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            font-size: 200px;
            z-index: -1;
            color: $basicWhite;
            text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.11);
            transition: .6s;
        }
        &:first-child::after {
            content: "H";
        }
        &:nth-child(2)::after {
            content: "A";
        }
        &:nth-child(3)::after {
            content: "P";
        }
        &:nth-child(4)::after {
            content: "C";
        }
    }
    &__back {
        @extend %fullAbsolute;
        @extend %nullList;
        overflow: hidden;
        &_line {
            position: absolute;
            top: 0;
            display: block;
            width: 1px;
            height: 100%;
            background: $secondGrey;
            &:first-child {
                left: 33.33%;
            }
            &:last-child {
                right: 33.33%
            }
        }
    }
}

.socials {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    &__link {
        color: $basicBlue;
    }
}