$basicWhite:#ffffff;
$basicBlack:#000000;
$basicGrey:#646477;
$basicOrange:#D55223;
$basicMainBack:#FBFBFB;
//header
$headerBtn:#fff;
$barsColor:#646477;
$preloaderBack:#EBEBEB;
$preloaderUno:#E28527;
$preloaderDuo:#D55223;
$preloaderText:#ABABAB;
//footer
$footerText:rgba(255,255,255,.65);
//Images
$prodsCardArrow: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAABHNCSVQICAgIfAhkiAAAAERJREFUKJHd0MENgCAUREFiRZRoCXYgHUIHw+UnxkTgLO882cMmZFTcaRaapzFG8W57fB5DvepjrfwCBWxLFDAHvmZvdFrWB0Ykv8m1AAAAAElFTkSuQmCC');
$comment:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAK9JREFUKJHFj70NwkAMRp+j68kIKQApHWzACJQpWSEToLBA1kjJBoQp0lCcmCC06O5MF0QKRHIFltxYft+P3E+rg4rUQMrv04tqKfa47oHFBHAQMOpngQCpUT8TBQxO58NRzupi4ChnH9P5X7ET9VQ4ZfqGUgC6IsswJgNQDRtRqd/6UpHQflg6Z/PGWhlH6YrlTlUvwENE9nlza8c/Q+fxwTlIAtdn8Pvt2fbfOr8AhHFb2REcod8AAAAASUVORK5CYII=');
//burger menu vars
$height-icon: 24px;
$width-line: 28px;
$height-line: 4px;
$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;